<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/evaluations'" text="Indietro"></ion-back-button>
      <ion-button size="small" shape="round" (click)="openFilterPopup()"><ion-icon name="filter"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title align="center">{{title()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <form [formGroup]="evaluationform" (ngSubmit)="saveEvaluation()" id="evaluationForm">
      <ion-item>
        <ion-label position="floating">Descrizione</ion-label>
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Note</ion-label>
        <ion-textarea rows="3" formControlName="note"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data Valutazione</ion-label>
        <ion-datetime formControlName="data" presentation="date"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Attività</ion-label>
        <ion-select formControlName="activityKey" placeholder="Seleziona attività">
          @for(activity of activities(); track activity.key) {
            <ion-select-option [value]="activity.key">
              {{activity.title}}
            </ion-select-option>
          }
        </ion-select>
        @if(activities().length == 0) {
          <ion-button (click)="openActivityDialog()">Aggiungi attività</ion-button>
        }
      </ion-item>

      <ion-item>
        <ion-label position="floating">Griglia</ion-label>
        <ion-select 
          formControlName="grid" 
          placeholder="Seleziona griglia"
          [class.ion-invalid]="evaluationform.get('grid')?.invalid && evaluationform.get('grid')?.touched">
          @for(grid of griglie(); track grid.key) {
            <ion-select-option [value]="grid.key">
              {{grid.nome}}
            </ion-select-option>
          }
        </ion-select>
        @if (evaluationform.get('grid')?.invalid && evaluationform.get('grid')?.touched) {
          <ion-note slot="error">Seleziona una griglia valida</ion-note>
        }
      </ion-item>
      
      @if (evaluationform.get('grid')?.value) {
        <app-evaluate-grid 
          [grid]="grid()!"
          (gridValid)="onGridValidityChange($event)">
        </app-evaluate-grid>
        @if (evaluationform.get('grid')?.value && !isGridValid() && evaluationform.get('grid')?.touched) {
          <ion-note color="danger" class="ion-padding-start">
            La griglia di valutazione non è valida. Assicurati di aver compilato tutti i campi richiesti.
          </ion-note>
        }
      }

    </form>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button type="submit" form="evaluationForm" [disabled]="!isGridValid()">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
</ion-fab>
  </ion-list>
</ion-content>