<ion-list>  
  @for(indicatore of grid.indicatori; track $index){
    <ion-item>
      <ion-grid>
        <ion-row id="header-indicatori">
          <ion-col>
            <ion-label>Indicatore</ion-label>
          </ion-col>
          <ion-col>
            criteri
          </ion-col>
          <ion-col>
            voto
          </ion-col>
          </ion-row> <!-- fine header-->
          
            <ion-row class="data-indicatori"><!-- inizio dati-->
            <ion-col>
            <ion-card (click)="showCriteri(indicatore)">
         
            {{indicatore.descrizione}}
            <h3>max {{indicatore.valore}}</h3>
            </ion-card>
            </ion-col>
            <ion-col>
              <app-criteri [criteri]="indicatore.criteri" (selectedcriterio)="setValue($event,indicatore)"></app-criteri>
            </ion-col>
            <ion-col>
              <ion-input value="{{indicatore.voto}}" (ionChange)="setValue($event,indicatore)"></ion-input>
            </ion-col>
            </ion-row>
            <!-- fine dati-->
          
        
      </ion-grid>

    </ion-item>
  }
</ion-list>

<ion-card>Voto: {{voto()}}/{{votoMax}}</ion-card>
