<ion-list>
  @for(indicatore of grid.indicatori; track $index){
    <ion-item>
      <ion-grid>
        <ion-row id="header-indicatori">
          <ion-col size="4">
            <ion-label>Indicatore</ion-label>
          </ion-col>
          <ion-col size="7">
            criteri
          </ion-col>
          <ion-col size="1">
            voto
          </ion-col>
          </ion-row> <!-- fine header-->
            <ion-row class="data-indicatori"><!-- inizio dati-->
            <ion-col size="4">
            <ion-card (click)="showCriteri(indicatore)">
            {{indicatore.descrizione}}
            <h3>max {{indicatore.valore}}</h3>
            </ion-card>
            </ion-col>
            <ion-col size="7">
              <app-criteri [criteri]="indicatore.criteri" (selectedcriterio)="setValue($event,indicatore)"></app-criteri>
            </ion-col>
            <ion-col size="1">
              <ion-input value="{{indicatore.voto}}" (ionChange)="setValue($event,indicatore)"></ion-input>
            </ion-col>
            </ion-row>
            <!-- fine dati-->
      </ion-grid>
    </ion-item>
  }
</ion-list>

<ion-card>Voto: {{voto()}}/{{votoMax}}</ion-card>
