<ion-list>  
  @for(indicatore of grid.indicatori; track $index){
    <ion-item>
      <ion-grid>
        <ion-row id="header-indicatori">
          <ion-col>
            <ion-label>Indicatore</ion-label>
          </ion-col>
          <ion-col>
            voto
          </ion-col>
          </ion-row> <!-- fine-->
          
            <ion-row class="data-indicatori"><!-- inizio dati-->
            <ion-col>
            <ion-card (click)="showCriteri(indicatore)">
            <ion-card-header>
              <ion-card-title>criterio</ion-card-title>
            </ion-card-header>
            {{indicatore.descrizione}}
            <h3>{{indicatore.valore}}</h3>
            </ion-card>
            </ion-col>
            <ion-col>
              <ion-input value="7" (ionChange)="setValue($event,indicatore)"></ion-input>
            </ion-col>
            </ion-row>
            <!-- fine dati-->
          
        
      </ion-grid>

    </ion-item>
  }
</ion-list>
