#header-indicatori
 {
    color: darkslategray;
    align-content: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}

.data-indicatori {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}