.criterio{
  font-weight: lighter;
  font-size: 9px
}
.criterio-value{
  font-weight: lighter;
  font-size: x-small;
  color: darkslategray ;
}

.criterio
.criterio{
    padding: 0px;
    height: 4vh;
    margin: 0px;
}


ion-item.criterio.item.md.item-lines-default.in-list.hydrated {
  padding: 0px;
  margin: 0px;
  height: 4vh;
}