<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button
      text="Ritorna alla lista degli utenti"
      class="back-button"
      defaultHref="/users-list"
      autoHide="true"></ion-back-button>
    <ion-title align="center">editing utente {{nomeStudente()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs #tabs (ionTabsDidChange)="setSelectedTab($event.tab)">
  <ion-tab tab="home">
    <ion-header>
      <ion-toolbar>
        <ion-title>Generalità</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-user-generalities2 [user]="user()"></app-user-generalities2>

    </ion-content>
  </ion-tab>
  <ion-tab tab="note">
    <ion-header>
      <ion-toolbar>
        <ion-title>Note</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <app-reserved-notes4student [studentkey]="userKey" [ownerkey]="loggedUser().key"></app-reserved-notes4student>
    </ion-content>
  </ion-tab>
  <ion-tab tab="valutazioni">
    <ion-header>
      <ion-toolbar>
        <ion-title>Valutazioni</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
<app-evaluation4-student [studentkey]="userKey" [teacherkey]="loggedUser().key"></app-evaluation4-student>
    </ion-content>
  </ion-tab>


  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home" [class.tab-selected]="selectedTab() === 'home'">
      <ion-icon name="person"></ion-icon>
      <ion-label>Generalità</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="note" [class.tab-selected]="selectedTab() === 'note'">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Note</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="valutazioni" [class.tab-selected]="selectedTab() === 'valutazioni'">
      <ion-icon name="sparkles"></ion-icon>
      <ion-label>Valutazioni</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

