<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">editing utente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="userForm">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">User Name</ion-label>
      <ion-input formControlName="userName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-select formControlName="role">
        @for (role of rolesValue; track $index) {
          <ion-select-option [value]="role">{{$UsersRole[role]}}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input formControlName="phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Birth Date</ion-label>
      <ion-input formControlName="birthDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Classes</ion-label>
      <app-classes-field [classes]="usersClasses()" (classesChange)="userForm.get('classes')!.setValue($event)"></app-classes-field>
    </ion-item>
  </form>
</ion-content>
