<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="Indietro"
        class="back-button"
        defaultHref="/users-list"
        (click)="dismiss()"
        autoHide="true">
      </ion-back-button>
    </ion-buttons>
    <ion-title align="center">{{ nomeStudente() }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="selectedTab()" (ionChange)="selectTab($any($event.detail.value))" scrollable="true">
      <ion-segment-button value="generalita">
        <ion-label>Generalità</ion-label>
      </ion-segment-button>
      <ion-segment-button value="disabilita">
        <ion-label>Disabilità & PDP</ion-label>
      </ion-segment-button>
      <ion-segment-button value="note">
        <ion-label>Note</ion-label>
      </ion-segment-button>
      <ion-segment-button value="valutazioni">
        <ion-label>Valutazioni</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="content-wrapper">

    <!-- Contenuto principale -->
    <div class="main-content">

      @if (selectedTab() === 'generalita') {
        <app-student-avatar
          [userKey]="userKey"
          [photoUrl]="user().photoUrl"
          [firstName]="user().firstName"
          [lastName]="user().lastName"
          (photoChanged)="onPhotoChanged($event)">
        </app-student-avatar>
        <app-user-generalities2 [user]="user()"></app-user-generalities2>
      }

      @if (selectedTab() === 'disabilita') {
        <app-student-disability
          [dva]="user().DVA"
          [dsa]="user().DSA"
          [bes]="user().BES"
          [adhd]="user().ADHD"
          [noteDisabilita]="user().noteDisabilita"
          [pdpList]="user().pdpUrl"
          (dataChanged)="onDisabilityChanged($event)">
        </app-student-disability>
      }

      @if (selectedTab() === 'note') {
        <app-reserved-notes4student
          [studentkey]="userKey"
          [ownerkey]="loggedUser().key">
        </app-reserved-notes4student>
      }

      @if (selectedTab() === 'valutazioni') {
        <app-evaluation4-student
          [studentkey]="userKey"
          [teacherkey]="loggedUser().key">
        </app-evaluation4-student>
      }

    </div>
  </div>
</ion-content>
