<ion-header [translucent]="true">
  <ion-back-button
    text="dashboard"
    class="back-button"
    [attr.default-href]="'/dashboard'"></ion-back-button>
  <ion-toolbar>
    <ion-title size="large" align="center">Utenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="filterUserForm" class="ion-padding" (submit)="$event.preventDefault()">
    <ion-searchbar
      formControlName="searchTerm"
      placeholder="Cerca per nome o cognome"
      [animated]="true"
      [debounce]="300"
    >
    </ion-searchbar>
    <ion-item>
      <ion-label>Filtra per classe</ion-label>
      <ion-select formControlName="selectedClass" interface="popover">
        <ion-select-option [value]="''">Tutte le classi</ion-select-option>
        @for (classe of classes(); track classe.key) {
          <ion-select-option [value]="classe.key">
            {{ classe.classe }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Filtra per ruolo</ion-label>
      <ion-select formControlName="selectedRole" interface="popover">
        <ion-select-option [value]="''">Tutti i ruoli</ion-select-option>
        <ion-select-option [value]="usersRole.ADMIN">Amministratore</ion-select-option>
        <ion-select-option [value]="usersRole.TEACHER">Insegnante</ion-select-option>
        <ion-select-option [value]="usersRole.STUDENT">Studente</ion-select-option>
      </ion-select>
    </ion-item>
    <button type="submit" style="display: none" hidden>Cerca</button>
  </form>

  <ion-list>
    @for(users of users2BeShown(); track users.key) {
        <ion-item>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{users.lastName}} {{users.firstName}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>{{users.email}}</p>
                </ion-card-content>
            </ion-card>
<ion-fab id="test"  vertical="bottom" horizontal="end" >
  <ion-fab-button size="small" color="medium" (keydown.enter)="$event.preventDefault()" (keydown.space)="$event.preventDefault()">
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="light" (click)="editUser(users.key)" (keydown.enter)="editUser(users.key)" (keydown.space)="editUser(users.key)">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" (click)="deleteUser(users.key)" (keydown.enter)="deleteUser(users.key)" (keydown.space)="deleteUser(users.key)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
        </ion-item>
    }
</ion-list>
</ion-content>
