<ion-header [translucent]="true">
  <ion-back-button
    text="dashboard"
    class="back-button"
    defaultHref="/dashboard"></ion-back-button>
  <ion-toolbar>
    <ion-title size="large" align="center">Utenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
    @for(users of users2BeShown(); track users.key) {
        <ion-item>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{users.lastName}} {{users.firstName}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>{{users.email}}</p>
                </ion-card-content>
            </ion-card>
<ion-fab id="test"  vertical="bottom" horizontal="end" >
  <ion-fab-button size="small"   color="medium">
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="light" (click)="editUser(users.key)">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" (click)="deleteUser(users.key)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
        </ion-item>
    }
</ion-list>
</ion-content>
