
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      @if(!showSpinner()){
      <ion-button shape="round" (click)="gotoClassDialog()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      }
    </ion-buttons>

    <ion-title align="center">stampa valutazione</ion-title>

    <ion-buttons slot="end">
      @if(showSpinner()){
      <span class="loader"></span>
      } @else {
      <ion-button shape="round" fill="solid" color="danger" (click)="decreaseFontSize()">
        <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
      </ion-button>
      <span style="font-size: 1.2em; font-weight: bold; margin: 0 10px;">{{fontSize()}}px</span>
      <ion-button shape="round" fill="solid" color="primary" (click)="increaseFontSize()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>

      <ion-button shape="round" fill="solid" color="secondary" (click)="generatePdf()">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<div id="contentToConvert" [style.fontSize.px]="fontSize()">

<ion-grid>
  <ion-row>
    <ion-col>
      <h2>{{evaluationData()?.description}}</h2>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div class="generalita">
          <div class="label">Studente:</div>
          <div class="value"><app-user-wiever [userkey]="evaluationData()?.studentKey"></app-user-wiever></div>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="generalita">
          <div class="label">Classe:</div>
          <div class="value"><app-class-wiever [classkey]="evaluationData()?.classKey"></app-class-wiever></div>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="generalita">
          <div class="label">Data di valutazione:</div>
          <div class="value">{{sanitizeDate(evaluationData()?.data)|date:'dd/MM/yyyy'}}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div class="generalita">
          <div class="label">Prof.:</div>
          <div class="value"><app-user-wiever [userkey]="evaluationData()?.teacherKey"></app-user-wiever></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="section">
        Indicatori
      </ion-col>
    </ion-row>
    @for(indicatore of evaluationData()?.grid?.indicatori; track $index){
<ion-row >
  <ion-col size="10">
    <div class="indicatore">
      <div class="value">{{indicatore.descrizione}}</div>
    </div>
  </ion-col>
  <ion-col size="2">
    <div class="generalita">
      <div class="value">{{indicatore.voto}}/{{indicatore.valore}}</div>
    </div>
  </ion-col>

</ion-row>

    }
    <ion-row>
      <ion-col size="10">
        <div class="indicatore">
          <div class="label">Voto finale</div>
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="generalita">
          <div class="value">{{votazione()}}</div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>

