<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="userForm">
    <ion-item class="required-field" [class.ion-valid]="userForm.get('firstName')?.valid" [class.ion-touched]="userForm.get('firstName')?.touched">
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="firstName" type="text" required></ion-input>
      <ion-note slot="error" *ngIf="isFieldInvalid('firstName')">
        {{ getErrorMessage('firstName') }}
      </ion-note>
    </ion-item>
    <ion-item class="required-field" [class.ion-valid]="userForm.get('lastName')?.valid" [class.ion-touched]="userForm.get('lastName')?.touched">
      <ion-label position="floating">Cognome</ion-label>
      <ion-input formControlName="lastName" required></ion-input>
      <ion-note slot="error" *ngIf="isFieldInvalid('lastName')">
        {{ getErrorMessage('lastName') }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nickname</ion-label>
      <ion-input formControlName="userName" ></ion-input>
    </ion-item>
    <ion-item class="required-field" [class.ion-valid]="userForm.get('email')?.valid" [class.ion-touched]="userForm.get('email')?.touched">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-select formControlName="role">
        @for (role of rolesValue; track $index) {
          <ion-select-option [value]="role">{{$UsersRole[role]}}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
    <ion-label> DVA</ion-label>
    <ion-toggle formControlName="DVA"></ion-toggle>
  </ion-item>
    <ion-item>
    <ion-label> DSA</ion-label>
    <ion-toggle formControlName="DSA"></ion-toggle>
  </ion-item>
    <ion-item>
    <ion-label> BES</ion-label>
    <ion-toggle formControlName="BES"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label> Note disabilità</ion-label>
    <ion-textarea formControlName="noteDisabilita"></ion-textarea>
  </ion-item>

    <ion-item>
      <ion-label position="floating">Classe</ion-label>
      <ion-select formControlName="classe">
        @for (classe of elencoClassi(); track classe.key) {
          <ion-select-option [value]="classe.key">{{classe.classe}}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input formControlName="phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Birth Date</ion-label>
      <ion-datetime  presentation="date" formControlName="birthDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Classi</ion-label>
      <app-classes-field [classes]="usersClasses()" (classeschange)="onClassesChange($event)"></app-classes-field>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="save()" (keydown.enter)="save()"
    [disabled]="!userForm.valid">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
