<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profilo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dettagli Profilo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" formcontrolname="firstName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Cognome</ion-label>
          <ion-input type="text" formcontrolname="lastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [readonly]="true" formcontrolname="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Data di nascita</ion-label>
          <ion-datetime formcontrolname="birthDate" displayformat="DD/MM/YYYY" pickerformat="DD/MM/YYYY"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Numero di telefono</ion-label>
          <ion-input formcontrolname="phoneNumber"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nome utente</ion-label>
          <ion-input formcontrolname="userName"></ion-input>
        </ion-item>

        @if (isClassSelectionEnabled()) {
          <ion-item>
            <ion-label position="floating">Classe</ion-label>
            <ion-select formcontrolname="classKey">
              @for(classe of listaClassi(); track $index){  
                <ion-select-option [value]="classe.key">
                  {{classe.classe}} {{classe.year}}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
        }

        <ion-button expand="block" type="submit" [disabled]="!profileForm.valid">
          Salva
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
