<div class="dashboard-admin">
  <header>
    <h2>Dashboard Amministratore</h2>
  </header>
  <main>
    <p>Benvenuto nell'area amministratore.</p>
    <ng-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <app-home-square title="Griglie" image="assets/images/grids.jpg" url="/grids-list"></app-home-square>
          </ion-col>
          <ion-col>
            <app-home-square title="Classi" image="assets/images/classes.jpg" url="/classes-list"></app-home-square>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>   <app-home-square title="Utenti" image="assets/images/users.jpeg" url="/users-list"></app-home-square></ion-col>
            <ion-col>   <app-home-square title="Valutazioni" image="assets/images/valutazioni.jpg" url="/evaluations-list"></app-home-square></ion-col>
        </ion-row>
      </ion-grid>
    </ng-content>
  </main>
</div>
