<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reset Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <form ng-submit="onSubmit()">
      <ion-item>
        <ion-label position="floating">Old Password</ion-label>
        <ion-input type="password" ng-model="oldPassword" name="oldPassword" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" ng-model="newPassword" name="newPassword" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Retype Password</ion-label>
        <ion-input type="password" ng-model="retypePassword" name="retypePassword" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" ng-disabled="!formValid">Reset Password</ion-button>
    </form>
  </ion-content>
</ion-content>
