ion-content {
  --background: var(--ion-color-light);
}

ion-item {
  --background: var(--ion-color-light);
  --border-radius: 8px;
  margin-bottom: 16px;
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-datetime {
  --background: var(--ion-color-light);
  --background-rgb: var(--ion-color-light-rgb);
  border-radius: 8px;
  margin: 0 auto;
  max-width: 350px;
}

.required {
  color: var(--ion-color-danger);
}

ion-button[slot="end"] {
  --color: var(--ion-color-primary);
}

ion-button[slot="start"] {
  --color: var(--ion-color-medium);
}

ion-datetime-button {
  --ion-color-base: var(--ion-color-primary) !important;
}

ion-modal {
  --width: 90%;
  --height: 60%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
}

ion-modal ion-datetime {
  --background: var(--ion-color-light);
  --background-rgb: var(--ion-color-light-rgb);
  border-radius: 8px;
  margin: 0 auto;
  max-width: 350px;
  height: 100%;
}
