.agenda-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;

    ion-list {
        flex: 1;
        overflow-y: auto;
    }
}