<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">Tutoring</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tutoring</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-home-square title="Agenda" image="assets/images/agenda.jpeg" url="/agenda"></app-home-square>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
