<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lista Studenti</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      @for(student of _students(); track student.key) {
        <ion-item>
          gsxgfxtgx
          <ion-card style="width: 100%">
            <ion-card-header>
              <ion-card-title>{{student.lastName}} {{student.firstName}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{student.email}}</p>
            </ion-card-content>
          </ion-card>

          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button size="small" color="medium">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button color="light" (click)="editStudent(student.key)">
                <ion-icon name="eye"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="light" (click)="newEvaluation(student.key)">
                <ion-icon name="sparkles"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="light">
                <ion-icon name="close"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
      }
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="uploadStudents()" color="primary">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-content>
