/* Evaluation Page Styles */

ion-content {
  --padding-start: 0;
  --padding-end: 0;
}

ion-list {
  --padding: 0;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-button {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-textarea {
  --padding-start: 0;
  --padding-end: 0;
}

ion-select {
  --padding-start: 0;
  --padding-end: 0;
}

ion-datetime {
  --padding-start: 0;
  --padding-end: 0;
}
