<div class="logout-container">
  <p class="welcome-message">Benvenuto {{loggedUser().email}}</p>
  <ion-fab id="test" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" color="medium">
      @if (gravatarUrl()) {
        <img [src]="gravatarUrl()" alt="Avatar" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
      } @else {
        <ion-icon name="person"></ion-icon>
      }
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="key"></ion-icon>
      </ion-fab-button>
    <ion-fab-button color="light" (click)="openProfile()">
      <ion-icon name="body-outline"></ion-icon>
    </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>
