.logout-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 5px;
}

#test {
  position: relative;
  margin: 0;
  top: unset;
  right: unset;
}

ion-fab-button {
  --background: var(--ion-color-medium-tint);
  --background-activated: var(--ion-color-medium);
  --icon-color: var(--ion-color-light);
}