<div class="groups-container">
  <h3>Gestione Gruppi</h3>
  
  @if (!classkey()) {
    <div class="alert alert-warning">
      Nessuna classe selezionata
    </div>
  } @else {
    <div>
      <p>Classe: <strong>{{classe()?.classe}}</strong></p>
      
      @if (groupslist().length > 0) {
        <h4>Gruppi disponibili:</h4>
        <ul>

        </ul>
      } @else {
        <p>Nessun gruppo trovato per questa classe.</p>
      }
    </div>
  }
  <ion-button (click)="addGroup()">Crea Gruppo<ion-icon name="medkit"></ion-icon></ion-button>
</div>
