<div class="groups-container">
  <h3>Gestione Gruppi</h3>
  
  @if (!classkey()) {
    <div class="alert alert-warning">
      Nessuna classe selezionata
    </div>
  } @else {
      
      @if (groupsList().length > 0) {
        <h4>Gruppi disponibili:</h4>
        <ul>

        </ul>
      } @else {
        <p>Nessun gruppo trovato per questa classe.</p>
      }
  <ion-button (click)="addGroup()">Crea Gruppo<ion-icon name="medkit"></ion-icon></ion-button>
  <div >
    <div>
      <p>Classe: <strong>{{classe()?.classe}}</strong></p>
      <div class="content-wrapper">
        <div class="students-container">
          <p>Studenti: <strong>{{availableStudents().length}}</strong></p>
          <div class="drag-container" id="studentslist">
            <h4>Studenti disponibili</h4>



            <ion-searchbar 
            placeholder="Cerca studenti..."
            [debounce]="300"
            (ionInput)="onSearchInput($event)">
          </ion-searchbar>






            <div
              cdkDropList
              id="studentslist"
              #studentslist="cdkDropList"
              [cdkDropListData]="availableStudents()"
              class="drop-list"
              [cdkDropListConnectedTo]="connectedLists()"
              (cdkDropListDropped)="drop($event,'')">
              @for (student of availableStudents().filter(filterStudents()); track student.key) {
                @if(student.firstName && student.lastName) {
                <div class="drag-item" cdkDrag
                [ngClass]="highlightstudent(student)"
                [cdkDragData]="student"
                >
                  {{ student.lastName }} {{ student.firstName }}
                </div>
                }
              }
            </div>
          </div>
        </div>

        <div class="groups-container">
          <div class="groups-header">
            <h4>Gruppi</h4>
            <ion-item lines="none" class="filter-item">
              <ion-label>Filtra per materia:</ion-label>
              <ion-select [value]="filterSubjectKey()" (ionChange)="filterSubjectKey.set($event.detail.value)" interface="popover">
                <ion-select-option value="all">Tutte le materie</ion-select-option>
                @for (subject of subjects(); track subject.key) {
                  <ion-select-option [value]="subject.key">{{ subject.name }}</ion-select-option>
                }
              </ion-select>
            </ion-item>
          </div>
          <div id="groupslist">
            @for(group of filteredGroupsList(); track group.key) {
              <div class="group-item"
              (click)="editGroup(group)"
              id="{{groupidfactory(group)}}"
     cdkDropList
     [cdkDropListData]="group.studentsList"
     [cdkDropListConnectedTo]="connectedLists()"
     (cdkDropListDropped)="drop($event, group.key)">
                 <div class="group-title-container">
                   <h4>{{ group.nome }}</h4>
                   <ion-button (click)="openSettings($event, group)" size="small">
                     <ion-icon name="cog-outline" slot="icon-only"></ion-icon>
                   </ion-button>
                 </div>
                @if (group.subjectKey) {
                  <p class="subject-badge">{{ getSubjectName(group.subjectKey) }}</p>
                }
                <h2>{{ group.description }}</h2>
                @for(student of group.studentsList; track student.key) {
                  @if(student.firstName && student.lastName) {
                  <div class="drag-item" cdkDrag
                  [ngClass]="highlightstudent(student)"
                  [cdkDragData]="student"
                  >
                    {{ student.lastName }} {{ student.firstName }}
                  </div>
                }
                }
              </div>
            }
          </div>
        </div>
      </div>
      </div>
    </div>
  }

</div>
