<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title align="center">{{ pageTitle() }}</ion-title>
    <ion-segment [value]="segmentValue()" (ionChange)="onSegmentChange($event)" color="secondary">
      <ion-segment-button value="list">
        <ion-icon name="list"></ion-icon>
        <ion-label>Lista</ion-label>
      </ion-segment-button>
      <ion-segment-button value="scheduler">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendario</ion-label>
      </ion-segment-button>
      <ion-segment-button value="past">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Passati</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle() }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  @if (viewMode() === 'list') {
    <app-agenda-list [events]="agenda()" [title]="pageTitle()"></app-agenda-list>
  } @else {
    <app-agenda-scheduler-toast-ui [events]="agenda()" (eventClick)="onEventClick($event)"></app-agenda-scheduler-toast-ui>
  }

  <!-- FAB Button per aggiungere un nuovo evento -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewEvent()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>