<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title align="center">{{ pageTitle() }}</ion-title>
    <ion-buttons slot="end">
      <ion-label class="ion-margin-end">{{ viewModeLabel() }}</ion-label>
      <ion-toggle (ionChange)="toggleView($event)" color="secondary">
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-icon name="list" slot="end"></ion-icon>
      </ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle() }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  @if (viewMode() === 'list') {
    <app-agenda-list [events]="agenda()" [title]="pageTitle()"></app-agenda-list>
  } @else {
    <app-agenda-scheduler-toast-ui [events]="agenda()" (eventClick)="onEventClick($event)"></app-agenda-scheduler-toast-ui>
  }

  <!-- FAB Button per aggiungere un nuovo evento -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewEvent()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>