<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
  <title>reCAPTCHA demo: Simple page</title>
  <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="loginForm" id="loginForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" (change)="onEmailChange($event)" formControlName="email"></ion-input>
      @if (loginForm.get('email')!.hasError('required')) {
      <p class="error" >Email is required</p>
      }
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" (change)="onPasswordChange($event)" formControlName="password"></ion-input>
      @if (loginForm.get('password')!.hasError('required')) {
      <p class="error" >Password is required</p>
      }

@if (loginForm.get('password')!.hasError('minlength')) {
      <p  class="error" >Password must be 8 char long</p>
    }
    </ion-item>
    <ion-button type="submit" [disabled]="!loginForm.valid" (click)="login()">Login</ion-button>
    <div id="links">
  <a [routerLink]="['/recover-password']">Forgot password?</a>
  <a [routerLink]="['/signup']">Don't have an account?</a>
  </div>
  </form>
</ion-content>
