<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/dashboard" text="Dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title align="center">Attività</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-select label="Filtra per classe" label-placement="floating" (ionChange)="onClassChange($event)" [value]="selectedClassKey()">
        <ion-select-option value="all">Tutte le classi</ion-select-option>
        @for(classe of loggedUser()?.assignedClasses; track classe.key) {
          <ion-select-option [value]="classe.key">{{ classe.classe }} {{ classe.year }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-select label="Filtra per materia" label-placement="floating" (ionChange)="onSubjectChange($event)" [value]="selectedSubjectKey()">
        <ion-select-option value="all">Tutte le materie</ion-select-option>
        @for(subject of subjectsList(); track subject.key) {
          <ion-select-option [value]="subject.key">{{ subject.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for(activity of activitiesList(); track activity.key) {
      <ion-item>
        <ion-card>
          <ion-card-title>{{ activity.title }}</ion-card-title>
          <ion-card-subtitle>{{ activity.description }}</ion-card-subtitle>
          <p>{{ activity.date|date:'dd/MM/yyyy' }}</p>
          <p>{{ seeClass(activity.classKey) }}</p>
        </ion-card>
      </ion-item>
    }
      </ion-list>
      <ion-button  shape="round" size="small" (click)="newActivity()"><ion-icon name="add"></ion-icon>Nuova attività</ion-button>

</ion-content>
