

<ion-tabs>
    <ion-tab tab="descrizione" >
        <ion-header>
          <ion-toolbar>
            <ion-title>Descrizione dell'indicatore</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="example-content">
            <form [formGroup]="indicatorForm">
              <ion-item>
                <ion-label position="floating">Descrizione</ion-label>
                <ion-textarea (change)="onDescrizioneChange($event)" formControlName="descrizione"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Valore massimo</ion-label>
                <ion-textarea (change)="onIndicatorValueChange($event)" formControlName="valore"></ion-textarea>
              </ion-item>
            </form>
          </div>
        </ion-content>
    </ion-tab>
    <ion-tab tab="criteri" >
      <ion-toolbar>
        <ion-title>{{title4criterio()}}</ion-title>
      </ion-toolbar>

      <ion-content>
<ion-list>
  @for(criterio of criteri(); track $index) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{criterio.descrizione}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{criterio.valori}}</ion-label>
        <ion-fab id="test"  vertical="bottom" horizontal="end" >
          <ion-fab-button size="small"   color="medium">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button color="light" (click)="editCriterio(criterio,$index)">
              <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="removeCriterio($index)">
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-card-content>
    </ion-card>
  }
</ion-list>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="addCriterio()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
      </ion-content>
    </ion-tab>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="descrizione">
        <ion-label>Descrizione</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="criteri">
        <ion-label>Criteri</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  <ion-button  type="submit" (click)="pushIndicator()"><ion-icon name="push"></ion-icon>accetta  indicatore</ion-button>

</ion-tabs>


