<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="document-text"></ion-icon>
      Documenti PDP
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (localPdpList().length === 0) {
    <div class="empty-state">
      <ion-icon name="document-text" size="large"></ion-icon>
      <p>Nessun documento PDP aggiunto.</p>
      <p>Usa il pulsante <strong>+</strong> per aggiungere un documento.</p>
    </div>
  }


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPdp()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="save()" color="primary">
    <ion-icon slot="start" name="save"></ion-icon>
    Salva
  </ion-button>
</ion-footer>
